.prospect-list {
      list-style-type: none;
      padding: 0;
    }

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #333;
}
